.tech-slider {
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff;
    padding: 1rem 0;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

    &__track {
        display: inline-flex;
        animation: scroll-left 30s linear infinite;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        margin-right: 3rem;
        font-size: 1.25rem;
        color: #333;
    }

    &__label {
        margin-left: 0.5rem;
    }

    @keyframes scroll-left {
        from {
        transform: translateX(0%);
        }
        to {
        transform: translateX(-50%);
        }
    }
}
